/**
** This file assume the good working conditions
** No styling (color, background,...) should be made here, only positionning and management
**/

div.maximenuCKV ul.maximenuCK {
    clear:both;
    position : relative;
    z-index:8000;
}


div.maximenuCKV ul.maximenuCK > ul {
    clear:both;
    padding : 0;
    margin : 0;
}

div.maximenuCKV ul.maximenuCK .moduletable {

}

div.maximenuCKV ul.maximenuCK li.maximenuCK {
    /*float:left;*/
    position:relative;
    text-align : left;
    padding : 0;
    margin : 0;
}

div.maximenuCKV ul.maximenuCK li.maximenuCK img {
    /*float:left;*/
}

div.maximenuCKV ul.maximenuCK li.maximenuCK a {
    display:block;
    float : none !important;
    float : left;
    position:relative;
}

div.maximenuCKV ul.maximenuCK2 li.maximenuCK a {
    float : none !important;
}

div.maximenuCKV ul.maximenuCK li ul.maximenuCK2 {
    display:block;
    z-index:11000;
    clear:left;
    margin:0;
    padding:0;
    text-align : left;
    position : static;
}

div.maximenuCKV ul.maximenuCK li ul li.maximenuCK {
    text-align : left;
    position : relative;
    z-index : 11001;
    padding:0;

}

div.maximenuCKV ul.maximenuCK li li.maximenuCK a {
    display: block;
    padding : 0;
    margin : 0;
}

div.maximenuCKV div.maximenuCK2 {
    float : left;
    margin : 0;
    padding : 0;
}

div.maximenuCKV div.clr {
    clear : both;
    visibility : hidden;
}

/*** child items ***/
div.maximenuCKV ul.maximenuCK li div.floatCK {
    position : absolute;
    left: -999em;
    padding : 0;
    margin : 0;
}

div.maximenuCKV div.floatCK ul, div.maximenuCKV div.floatCK ul li {
    position : static;
    height : 100%;
}










.clr {clear:both;}

/**
** global styles
**/

/* container style */
div#maximenuCK ul.maximenuCK {
    padding : 0;
    margin : 0;
}

div#maximenuCK ul.maximenuCK li.maximenuCK {
    background : none;
    list-style : none;
    border : none;
    padding : 0;
    margin : 0;
    clear : both;
    width : 170px;
}

/* link image style */
div#maximenuCK ul.maximenuCK li.maximenuCK>a img {
    margin : 3px;
    border : none;
}

/* img style without link (in separator) */
div#maximenuCK ul.maximenuCK li.maximenuCK img {
    border : none;
}

div#maximenuCK ul.maximenuCK li a.maximenuCK {
    text-decoration : none;
    text-indent : 2px;
    height : 27px;
    outline : none;
    background : none;
    border : none;
    padding : 0;
    cursor : pointer;
}

/* separator item */
div#maximenuCK ul.maximenuCK li span.separator {

}


/**
** active items
**/

/* current item title and description */
div#maximenuCK ul.maximenuCK2 li.current>a span {
    font-weight : bold;
    color : #ccc;
}

/* current item title when mouseover */
div#maximenuCK ul.maximenuCK li.current>a:hover span.titreCK {

}

/* current item description when mouseover */
div#maximenuCK ul.maximenuCK li.current>a:hover span.descCK {

}

/* active parent title */
div#maximenuCK ul.maximenuCK li.active>a span.titreCK {
    color : #ccc;
    font-weight : bold;
}

/* active parent description */
div#maximenuCK ul.maximenuCK li.active>a span.descCK {

}

/**
** first level items
**/

div#maximenuCK ul.maximenuCK li.level0 {
    min-height : 34px;
    padding : 0 10px;
    background : url(../images/fond_bg.png) top left repeat-x;
}

/* first level item title */
div#maximenuCK ul.maximenuCK li.current.level0>a span.titreCK {
    font-weight : bold;
    color : #ccc;
}

/* first level item description */
div#maximenuCK ul.maximenuCK li.current.level0>a span.descCK {
    font-weight : bold;
    color : #ccc;
}

/* first level item link */
div#maximenuCK ul.maximenuCK li.parent.level0>a {
    background : url(../images/maxi_arrow0.png) bottom right no-repeat;
}

/* parent style level 0 */
div#maximenuCK ul.maximenuCK li.parent.level0 li.parent {
    background : url(../images/maxi_arrow1.png) center right no-repeat;
}

/**
** items title and descriptions
**/

/* item title */
div#maximenuCK span.titreCK {
    color : #888;
    display : block;
    text-transform : none;
    font-weight : normal;
    font-size : 14px;
    line-height : 18px;
    text-decoration : none;
    height : 17px;
    float : none !important;
    float : left;
}

/* item description */
div#maximenuCK span.descCK {
    color : #c0c0c0;
    display : block;
    text-transform : none;
    font-size : 10px;
    text-decoration : none;
    height : 12px;
    line-height : 12px;
    float : none !important;
    float : left;
}


/* item title when mouseover */
div#maximenuCK ul.maximenuCK  a:hover span.titreCK {
    color : #ddd;
}

/**
** child items
**/

/* child item title */
div#maximenuCK ul.maximenuCK2  a.maximenuCK {
    width : 160px;
}


/* child item block */
div#maximenuCK ul.maximenuCK ul.maximenuCK2 {
    background : #1a1a1a;
    margin : 3px 0 0 0;
    padding : 0;
    border : none;
    width : 180px; /* important for Chrome and Safari compatibility */
}

div#maximenuCK ul.maximenuCK2 li.maximenuCK {
    width : 180px;
    /*padding : 2px 0 0 0;*/
    padding : 0;
    border : none;
    margin : 0;
    background : none;
}

div#maximenuCK ul.maximenuCK2 li a.maximenuCK {
    text-decoration : none;
    border-bottom : 1px solid #505050;
    width : 150px;
    margin : 0 auto;
    /*padding : 3px 0 3px 0;*/
}

/* child item container  */
div#maximenuCK ul.maximenuCK li div.floatCK {
    background : #1a1a1a;
    border : 1px solid #707070;
}


/**
** module style
**/

div#maximenuCK div.maximenuCK_mod {
    width : 170px;
    padding : 0;
    overflow : hidden;
    color : #ddd;
    white-space : normal;
}

div#maximenuCK div.maximenuCK_mod div.moduletable {
    border : none;
    background : none;
}

div#maximenuCK div.maximenuCK_mod  fieldset{
    width : 160px;
    padding : 0;
    margin : 0 auto;
    overflow : hidden;
    background : #1a1a1a;
    border : none;
}

/* login module */
div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod #form-login ul {
    left : 0;
    margin : 0;
    padding : 0;
    width : 170px;
}

div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod #form-login ul li {
    margin : 2px 0;
    padding : 0 5px;
    height : 20px;
    background : #1a1a1a;
}

div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod a {
    border : none;
    margin : 0;
    padding : 0;
    display : inline;
    background : #1a1a1a;
    color : #888;
    font-weight : normal;
}

div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod a:hover {
    color : #FFF;
}

/* module title */
div#maximenuCK ul.maximenuCK div.maximenuCK_mod h3 {
    font-size : 14px;
    width : 170px;
    color : #aaa;
    font-size : 14px;
    font-weight : normal;
    background : #444;
    margin : 5px 0 0 0;
    padding : 3px 0 3px 0;
}

/*** module dernieres news ***/
div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod ul {
    margin : 0;
    padding : 0;
    width : 170px;
    background : none;
    border : none;
    text-align : left;
}

div#maximenuCK ul.maximenuCK2 div.maximenuCK_mod li {
    margin : 0 0 0 15px;
    padding : 0;
    width : 155px;
    background : none;
    border : none;
    text-align : left;
    font-size : 11px;
    float : none;
    display : block;
    line-height : 20px;
    white-space : normal;
}

/**
** columns width & child position
**/

/* child blocks position (from level2 to n) */
div#maximenuCK ul.maximenuCK li.maximenuCK div.floatCK {
    margin : -30px 0 0 180px;
}

/* margin for overflown elements that rolls to the left */
div#maximenuCK ul.maximenuCK li.maximenuCK div.floatCK.fixRight  {
    margin-right : 180px;
}

/* default width */
div#maximenuCK ul.maximenuCK li div.floatCK {
    width : 180px;
}

/* 2 cols width */
div#maximenuCK ul.maximenuCK li div.cols2 {
    width : 360px;
}

div#maximenuCK ul.maximenuCK li div.cols2 div.maximenuCK2 {
    width : 50%;
}

/* 3 cols width */
div#maximenuCK ul.maximenuCK li div.cols3 {
    width : 540px;
}

div#maximenuCK ul.maximenuCK li div.cols3 div.maximenuCK2 {
    width : 33%;
}

/* 4 cols width */
div#maximenuCK ul.maximenuCK li div.cols4 {
    width : 720px;
}

div#maximenuCK ul.maximenuCK li div.cols4 div.maximenuCK2 {
    width : 25%;
}



/**
** fancy parameters - Not yet applicable in vertical mode
**/
/*
div#maximenuCK .maxiFancybackground {
    list-style : none;
}

div#maximenuCK .maxiFancybackground .maxiFancycenter {

}

div#maximenuCK .maxiFancybackground .maxiFancyleft {

}

div#maximenuCK .maxiFancybackground .maxiFancyright {

}*/

/**
** rounded style
**/

/* global container */
div#maximenuCK div.maxiRoundedleft {

}

div#maximenuCK div.maxiRoundedcenter {

}

div#maximenuCK div.maxiRoundedright {

}

/* child container */
div#maximenuCK div.maxidrop-top {

}

div#maximenuCK div.maxidrop-main {

}

div#maximenuCK div.maxidrop-bottom {

}



